<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.exp.dao.interfaces.SysClayerMapper" >
  <resultMap id="BaseResultMap" type="com.pro.exp.dao.entity.SysClayer" >
    <id column="sys_clayer_id" property="sysClayerId" jdbcType="VARCHAR" />
    <result column="sys_wlayer_id" property="sysWlayerId" jdbcType="VARCHAR" />
    <result column="sys_clayer_name" property="sysClayerName" jdbcType="VARCHAR" />
    <result column="sys_clayer_tag" property="sysClayerTag" jdbcType="VARCHAR" />
    <result column="sys_isactive" property="sysIsactive" jdbcType="VARCHAR" />
    <result column="sys_created" property="sysCreated" jdbcType="TIMESTAMP" />
    <result column="sys_createdby" property="sysCreatedby" jdbcType="VARCHAR" />
    <result column="sys_updated" property="sysUpdated" jdbcType="TIMESTAMP" />
    <result column="sys_updatedby" property="sysUpdatedby" jdbcType="VARCHAR" />
    <result column="sys_remark" property="sysRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sys_clayer_id, sys_wlayer_id, sys_clayer_name, sys_clayer_tag, sys_isactive, sys_created, 
    sys_createdby, sys_updated, sys_updatedby, sys_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pro.exp.dao.entity.SysClayerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_clayer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_clayer
    where sys_clayer_id = #{sysClayerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_clayer
    where sys_clayer_id = #{sysClayerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pro.exp.dao.entity.SysClayerExample" >
    delete from sys_clayer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pro.exp.dao.entity.SysClayer" >
    insert into sys_clayer (sys_clayer_id, sys_wlayer_id, sys_clayer_name, 
      sys_clayer_tag, sys_isactive, sys_created, 
      sys_createdby, sys_updated, sys_updatedby, 
      sys_remark)
    values (#{sysClayerId,jdbcType=VARCHAR}, #{sysWlayerId,jdbcType=VARCHAR}, #{sysClayerName,jdbcType=VARCHAR}, 
      #{sysClayerTag,jdbcType=VARCHAR}, #{sysIsactive,jdbcType=VARCHAR}, #{sysCreated,jdbcType=TIMESTAMP}, 
      #{sysCreatedby,jdbcType=VARCHAR}, #{sysUpdated,jdbcType=TIMESTAMP}, #{sysUpdatedby,jdbcType=VARCHAR}, 
      #{sysRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pro.exp.dao.entity.SysClayer" >
    insert into sys_clayer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysClayerId != null" >
        sys_clayer_id,
      </if>
      <if test="sysWlayerId != null" >
        sys_wlayer_id,
      </if>
      <if test="sysClayerName != null" >
        sys_clayer_name,
      </if>
      <if test="sysClayerTag != null" >
        sys_clayer_tag,
      </if>
      <if test="sysIsactive != null" >
        sys_isactive,
      </if>
      <if test="sysCreated != null" >
        sys_created,
      </if>
      <if test="sysCreatedby != null" >
        sys_createdby,
      </if>
      <if test="sysUpdated != null" >
        sys_updated,
      </if>
      <if test="sysUpdatedby != null" >
        sys_updatedby,
      </if>
      <if test="sysRemark != null" >
        sys_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysClayerId != null" >
        #{sysClayerId,jdbcType=VARCHAR},
      </if>
      <if test="sysWlayerId != null" >
        #{sysWlayerId,jdbcType=VARCHAR},
      </if>
      <if test="sysClayerName != null" >
        #{sysClayerName,jdbcType=VARCHAR},
      </if>
      <if test="sysClayerTag != null" >
        #{sysClayerTag,jdbcType=VARCHAR},
      </if>
      <if test="sysIsactive != null" >
        #{sysIsactive,jdbcType=VARCHAR},
      </if>
      <if test="sysCreated != null" >
        #{sysCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreatedby != null" >
        #{sysCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdated != null" >
        #{sysUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdatedby != null" >
        #{sysUpdatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysRemark != null" >
        #{sysRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pro.exp.dao.entity.SysClayerExample" resultType="java.lang.Integer" >
    select count(*) from sys_clayer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_clayer
    <set >
      <if test="record.sysClayerId != null" >
        sys_clayer_id = #{record.sysClayerId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysWlayerId != null" >
        sys_wlayer_id = #{record.sysWlayerId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClayerName != null" >
        sys_clayer_name = #{record.sysClayerName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClayerTag != null" >
        sys_clayer_tag = #{record.sysClayerTag,jdbcType=VARCHAR},
      </if>
      <if test="record.sysIsactive != null" >
        sys_isactive = #{record.sysIsactive,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCreated != null" >
        sys_created = #{record.sysCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysCreatedby != null" >
        sys_createdby = #{record.sysCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUpdated != null" >
        sys_updated = #{record.sysUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysUpdatedby != null" >
        sys_updatedby = #{record.sysUpdatedby,jdbcType=VARCHAR},
      </if>
      <if test="record.sysRemark != null" >
        sys_remark = #{record.sysRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_clayer
    set sys_clayer_id = #{record.sysClayerId,jdbcType=VARCHAR},
      sys_wlayer_id = #{record.sysWlayerId,jdbcType=VARCHAR},
      sys_clayer_name = #{record.sysClayerName,jdbcType=VARCHAR},
      sys_clayer_tag = #{record.sysClayerTag,jdbcType=VARCHAR},
      sys_isactive = #{record.sysIsactive,jdbcType=VARCHAR},
      sys_created = #{record.sysCreated,jdbcType=TIMESTAMP},
      sys_createdby = #{record.sysCreatedby,jdbcType=VARCHAR},
      sys_updated = #{record.sysUpdated,jdbcType=TIMESTAMP},
      sys_updatedby = #{record.sysUpdatedby,jdbcType=VARCHAR},
      sys_remark = #{record.sysRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pro.exp.dao.entity.SysClayer" >
    update sys_clayer
    <set >
      <if test="sysWlayerId != null" >
        sys_wlayer_id = #{sysWlayerId,jdbcType=VARCHAR},
      </if>
      <if test="sysClayerName != null" >
        sys_clayer_name = #{sysClayerName,jdbcType=VARCHAR},
      </if>
      <if test="sysClayerTag != null" >
        sys_clayer_tag = #{sysClayerTag,jdbcType=VARCHAR},
      </if>
      <if test="sysIsactive != null" >
        sys_isactive = #{sysIsactive,jdbcType=VARCHAR},
      </if>
      <if test="sysCreated != null" >
        sys_created = #{sysCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreatedby != null" >
        sys_createdby = #{sysCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdated != null" >
        sys_updated = #{sysUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdatedby != null" >
        sys_updatedby = #{sysUpdatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysRemark != null" >
        sys_remark = #{sysRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where sys_clayer_id = #{sysClayerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pro.exp.dao.entity.SysClayer" >
    update sys_clayer
    set sys_wlayer_id = #{sysWlayerId,jdbcType=VARCHAR},
      sys_clayer_name = #{sysClayerName,jdbcType=VARCHAR},
      sys_clayer_tag = #{sysClayerTag,jdbcType=VARCHAR},
      sys_isactive = #{sysIsactive,jdbcType=VARCHAR},
      sys_created = #{sysCreated,jdbcType=TIMESTAMP},
      sys_createdby = #{sysCreatedby,jdbcType=VARCHAR},
      sys_updated = #{sysUpdated,jdbcType=TIMESTAMP},
      sys_updatedby = #{sysUpdatedby,jdbcType=VARCHAR},
      sys_remark = #{sysRemark,jdbcType=VARCHAR}
    where sys_clayer_id = #{sysClayerId,jdbcType=VARCHAR}
  </update>
</mapper>