<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.exp.dao.interfaces.SysMlayerMapper" >
  <resultMap id="BaseResultMap" type="com.pro.exp.dao.entity.SysMlayer" >
    <id column="sys_mlayer_id" property="sysMlayerId" jdbcType="VARCHAR" />
    <result column="sys_mlayer_name" property="sysMlayerName" jdbcType="VARCHAR" />
    <result column="sys_mlayer_tag" property="sysMlayerTag" jdbcType="VARCHAR" />
    <result column="sys_isactive" property="sysIsactive" jdbcType="VARCHAR" />
    <result column="sys_created" property="sysCreated" jdbcType="TIMESTAMP" />
    <result column="sys_createdby" property="sysCreatedby" jdbcType="VARCHAR" />
    <result column="sys_updated" property="sysUpdated" jdbcType="TIMESTAMP" />
    <result column="sys_updatedby" property="sysUpdatedby" jdbcType="VARCHAR" />
    <result column="sys_remark" property="sysRemark" jdbcType="VARCHAR" />
    <result column="sys_url" property="sysUrl" jdbcType="VARCHAR" />
    <result column="sys_priority" property="sysPriority" jdbcType="INTEGER" />
    <result column="sys_component" property="sysComponent" jdbcType="VARCHAR" />
    <result column="sys_icon" property="sysIcon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sys_mlayer_id, sys_mlayer_name, sys_mlayer_tag, sys_isactive, sys_created, sys_createdby, 
    sys_updated, sys_updatedby, sys_remark, sys_url, sys_priority, sys_component, sys_icon
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pro.exp.dao.entity.SysMlayerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_mlayer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_mlayer
    where sys_mlayer_id = #{sysMlayerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_mlayer
    where sys_mlayer_id = #{sysMlayerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pro.exp.dao.entity.SysMlayerExample" >
    delete from sys_mlayer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pro.exp.dao.entity.SysMlayer" >
    insert into sys_mlayer (sys_mlayer_id, sys_mlayer_name, sys_mlayer_tag, 
      sys_isactive, sys_created, sys_createdby, 
      sys_updated, sys_updatedby, sys_remark, 
      sys_url, sys_priority, sys_component, 
      sys_icon)
    values (#{sysMlayerId,jdbcType=VARCHAR}, #{sysMlayerName,jdbcType=VARCHAR}, #{sysMlayerTag,jdbcType=VARCHAR}, 
      #{sysIsactive,jdbcType=VARCHAR}, #{sysCreated,jdbcType=TIMESTAMP}, #{sysCreatedby,jdbcType=VARCHAR}, 
      #{sysUpdated,jdbcType=TIMESTAMP}, #{sysUpdatedby,jdbcType=VARCHAR}, #{sysRemark,jdbcType=VARCHAR}, 
      #{sysUrl,jdbcType=VARCHAR}, #{sysPriority,jdbcType=INTEGER}, #{sysComponent,jdbcType=VARCHAR}, 
      #{sysIcon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pro.exp.dao.entity.SysMlayer" >
    insert into sys_mlayer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysMlayerId != null" >
        sys_mlayer_id,
      </if>
      <if test="sysMlayerName != null" >
        sys_mlayer_name,
      </if>
      <if test="sysMlayerTag != null" >
        sys_mlayer_tag,
      </if>
      <if test="sysIsactive != null" >
        sys_isactive,
      </if>
      <if test="sysCreated != null" >
        sys_created,
      </if>
      <if test="sysCreatedby != null" >
        sys_createdby,
      </if>
      <if test="sysUpdated != null" >
        sys_updated,
      </if>
      <if test="sysUpdatedby != null" >
        sys_updatedby,
      </if>
      <if test="sysRemark != null" >
        sys_remark,
      </if>
      <if test="sysUrl != null" >
        sys_url,
      </if>
      <if test="sysPriority != null" >
        sys_priority,
      </if>
      <if test="sysComponent != null" >
        sys_component,
      </if>
      <if test="sysIcon != null" >
        sys_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysMlayerId != null" >
        #{sysMlayerId,jdbcType=VARCHAR},
      </if>
      <if test="sysMlayerName != null" >
        #{sysMlayerName,jdbcType=VARCHAR},
      </if>
      <if test="sysMlayerTag != null" >
        #{sysMlayerTag,jdbcType=VARCHAR},
      </if>
      <if test="sysIsactive != null" >
        #{sysIsactive,jdbcType=VARCHAR},
      </if>
      <if test="sysCreated != null" >
        #{sysCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreatedby != null" >
        #{sysCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdated != null" >
        #{sysUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdatedby != null" >
        #{sysUpdatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysRemark != null" >
        #{sysRemark,jdbcType=VARCHAR},
      </if>
      <if test="sysUrl != null" >
        #{sysUrl,jdbcType=VARCHAR},
      </if>
      <if test="sysPriority != null" >
        #{sysPriority,jdbcType=INTEGER},
      </if>
      <if test="sysComponent != null" >
        #{sysComponent,jdbcType=VARCHAR},
      </if>
      <if test="sysIcon != null" >
        #{sysIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pro.exp.dao.entity.SysMlayerExample" resultType="java.lang.Integer" >
    select count(*) from sys_mlayer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_mlayer
    <set >
      <if test="record.sysMlayerId != null" >
        sys_mlayer_id = #{record.sysMlayerId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysMlayerName != null" >
        sys_mlayer_name = #{record.sysMlayerName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysMlayerTag != null" >
        sys_mlayer_tag = #{record.sysMlayerTag,jdbcType=VARCHAR},
      </if>
      <if test="record.sysIsactive != null" >
        sys_isactive = #{record.sysIsactive,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCreated != null" >
        sys_created = #{record.sysCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysCreatedby != null" >
        sys_createdby = #{record.sysCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUpdated != null" >
        sys_updated = #{record.sysUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysUpdatedby != null" >
        sys_updatedby = #{record.sysUpdatedby,jdbcType=VARCHAR},
      </if>
      <if test="record.sysRemark != null" >
        sys_remark = #{record.sysRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUrl != null" >
        sys_url = #{record.sysUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sysPriority != null" >
        sys_priority = #{record.sysPriority,jdbcType=INTEGER},
      </if>
      <if test="record.sysComponent != null" >
        sys_component = #{record.sysComponent,jdbcType=VARCHAR},
      </if>
      <if test="record.sysIcon != null" >
        sys_icon = #{record.sysIcon,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_mlayer
    set sys_mlayer_id = #{record.sysMlayerId,jdbcType=VARCHAR},
      sys_mlayer_name = #{record.sysMlayerName,jdbcType=VARCHAR},
      sys_mlayer_tag = #{record.sysMlayerTag,jdbcType=VARCHAR},
      sys_isactive = #{record.sysIsactive,jdbcType=VARCHAR},
      sys_created = #{record.sysCreated,jdbcType=TIMESTAMP},
      sys_createdby = #{record.sysCreatedby,jdbcType=VARCHAR},
      sys_updated = #{record.sysUpdated,jdbcType=TIMESTAMP},
      sys_updatedby = #{record.sysUpdatedby,jdbcType=VARCHAR},
      sys_remark = #{record.sysRemark,jdbcType=VARCHAR},
      sys_url = #{record.sysUrl,jdbcType=VARCHAR},
      sys_priority = #{record.sysPriority,jdbcType=INTEGER},
      sys_component = #{record.sysComponent,jdbcType=VARCHAR},
      sys_icon = #{record.sysIcon,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pro.exp.dao.entity.SysMlayer" >
    update sys_mlayer
    <set >
      <if test="sysMlayerName != null" >
        sys_mlayer_name = #{sysMlayerName,jdbcType=VARCHAR},
      </if>
      <if test="sysMlayerTag != null" >
        sys_mlayer_tag = #{sysMlayerTag,jdbcType=VARCHAR},
      </if>
      <if test="sysIsactive != null" >
        sys_isactive = #{sysIsactive,jdbcType=VARCHAR},
      </if>
      <if test="sysCreated != null" >
        sys_created = #{sysCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysCreatedby != null" >
        sys_createdby = #{sysCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysUpdated != null" >
        sys_updated = #{sysUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUpdatedby != null" >
        sys_updatedby = #{sysUpdatedby,jdbcType=VARCHAR},
      </if>
      <if test="sysRemark != null" >
        sys_remark = #{sysRemark,jdbcType=VARCHAR},
      </if>
      <if test="sysUrl != null" >
        sys_url = #{sysUrl,jdbcType=VARCHAR},
      </if>
      <if test="sysPriority != null" >
        sys_priority = #{sysPriority,jdbcType=INTEGER},
      </if>
      <if test="sysComponent != null" >
        sys_component = #{sysComponent,jdbcType=VARCHAR},
      </if>
      <if test="sysIcon != null" >
        sys_icon = #{sysIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where sys_mlayer_id = #{sysMlayerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pro.exp.dao.entity.SysMlayer" >
    update sys_mlayer
    set sys_mlayer_name = #{sysMlayerName,jdbcType=VARCHAR},
      sys_mlayer_tag = #{sysMlayerTag,jdbcType=VARCHAR},
      sys_isactive = #{sysIsactive,jdbcType=VARCHAR},
      sys_created = #{sysCreated,jdbcType=TIMESTAMP},
      sys_createdby = #{sysCreatedby,jdbcType=VARCHAR},
      sys_updated = #{sysUpdated,jdbcType=TIMESTAMP},
      sys_updatedby = #{sysUpdatedby,jdbcType=VARCHAR},
      sys_remark = #{sysRemark,jdbcType=VARCHAR},
      sys_url = #{sysUrl,jdbcType=VARCHAR},
      sys_priority = #{sysPriority,jdbcType=INTEGER},
      sys_component = #{sysComponent,jdbcType=VARCHAR},
      sys_icon = #{sysIcon,jdbcType=VARCHAR}
    where sys_mlayer_id = #{sysMlayerId,jdbcType=VARCHAR}
  </update>
</mapper>